<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Id = {{id}}</title>
</head>

<body>
    <h1>Lyrics for {{title}} </h1>
    <p>Lyrics: {{lyrics}}</p>

</body>
</html>
