<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <title>Id = {{id}}</title>
</head>
<div id='ul'>

  <form class="searchnav" action="/search">
    <input class = 'q' type="text" name="q" placeholder="Search Songs & Lyrics" style="width: 70%; border-radius: 15px; margin: 2px">
    <button type="submit" name="submit" class="soundbar">
      <div class="">

        <div id="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <span class="pam">Go</span>
      </div>
    </button>
  </form>
  <div class="logos">
    <img width="100" height="50" src="https://i.imgur.com/LRLXJ4M.png" alt="">
  </div>
  <div class="li"><a href="default.asp">Home</a></div>
  <div class="li"><a href="http://localhost:5001/search?artist=odesza&song=say+my+name&submit=Search">Bio</a></div>
  <div class="li"><a href="http://localhost:5001/tours">Tours</a></div>
  <div class="li"><a href="http://localhost:5001/analytics">Analytics</a></div>
  <div class="li"><a href="news.asp">About</a></div>
</div>

<body>
  <!-- <div id="bars">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div> -->

  <div class="body">
    <div class="title">
      <h1 style="color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{songName}}</h1>
    </div>
  <div class="container-2 mediabar">
    <div>
      <img class="media" src="http://www.billboard.com/files/media/ODESZA-2017-cr-Tonje-Thilesen-billboard-1548.jpg" width="450" height="297">
    </div>
    <iframe width="450" height="300" src="https://www.youtube.com/embed/QMssNXBCCl0" frameborder="0" allowfullscreen></iframe>
  </div >

  <div class="bio">
    <div class="bio2">
      <p>The advance releases from the album give a glimpse into ODESZA’s dynamic range: from glittering and summery on “Line Of Sight (feat. WYNNE & Mansionair)” to cinematic and emotional on “Corners Of The Earth (feat. RY X)”. Instrumental tracks “Late Night” and “Meridian” bear trademark ODESZA synth and drum work, with the latter ushering in a subtle tone shift into slightly grittier territory.</p><br>

      <p>As with their previous studio output, the album’s introspective nature belies the raw energy of the duo’s consistently sold-out live shows. New music, live instrumentation and all-new stage production are in store for the 2017 A Moment Apart Tour, the first incarnation of which debuted to 19,000 fans over two nights in May at the hallowed Red Rocks Amphitheater.</p>
      <p>2017 finds ODESZA’s Harrison Mills and Clayton Knight on the precipice of a musical takeover with their third full-length album ‘A Moment Apart.’ The relentless touring that followed sophomore release ‘In Return’ gave way to prolific studio sessions, and the result is a 16-track album representative of ODESZA’s growth and maturity: weighted atmospheres, shimmering synth lines and familiar feelings of nostalgia, optimism and hope.</p><br>
    </div>
  </div>

</div>
</body>

</html>
