<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <title>Id = {{id}}</title>
</head>

<div id='ul'>

  <form class="searchnav" action="/search">
    <input class = 'q' type="text" name="q" placeholder="Search Songs & Lyrics" style="width: 70%; border-radius: 15px; margin: 2px">
    <button type="submit" name="submit" class="soundbar">
      <div class="">

        <div id="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <span class="pam">Go</span>
      </div>
    </button>
  </form>
  <div class="logos">
    <img width="100" height="50" src="https://i.imgur.com/LRLXJ4M.png" alt="">
  </div>
  <div class="li"><a href="default.asp">Home</a></div>
  <div class="li"><a href="http://localhost:5001/search?artist=odesza&song=say+my+name&submit=Search">Bio</a></div>
  <div class="li"><a href="http://localhost:5001/tours">Tours</a></div>
  <div class="li"><a href="default.asp">Analytics</a></div>
  <div class="li"><a href="news.asp">About</a></div>
</div>

<body>


  <div class="tours">
    <div class="container-4">
      <div class="info" style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
        <h1>Currently On Tour</h1>
        <h2>Next Concert near you:
          <a href="https://www.songkick.com/artists/6018139-odesza">This Week (Berkeley)</a></h2>
        <h3>Distance from current location: 13.1 miles </h3>
        <h4>Bands playing near you this week:</h4>
        <div id= 'artists'>
          {{#each names}}
          <div class='jay' style="font-size: 50;"> <a href="{{this.url}}"> {{this.name}} </a></div>
          {{/each}}
        </div>
      </div>
  <div class="maps" id='map'>
    <script>

        var map, infoWindow;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.733795, lng: -122.446747},
            zoom: 10
          });
          infoWindow = new google.maps.InfoWindow;

          // Try HTML5 geolocation.
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              // infoWindow.setPosition(pos);
              // infoWindow.setContent('Odesza concert is 13 miles away from you');
              // infoWindow.open(map);
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }

          var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
          var beachMarker = new google.maps.Marker({
            position: {lat: 37.8716, lng: -122.2727},
            map: map,
            icon: image
          });
          marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
        }


        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);


        }
        // addMarker2(map) {
        //   var marker = new google.maps.Marker({
        //      position: new google.maps.LatLng(37.8716, -122.2727),
        //      map: map,
        //    });
        //    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
        // };
        // addMarker2(map);


        $.ajax('https://app.ticketmaster.com/discovery/v2/events.json?classificationName=music&apikey=V4XUQD1Kz4IoKPAuWZ39NveeylCR8NGG&postalCode=94103', {
          success: function(json) {
            function addMarker(map, event) {
              var marker = new google.maps.Marker({
                position: new google.maps.LatLng(event._embedded.venues[0].location.latitude, event._embedded.venues[0].location.longitude),
                map: map
              });
              marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
            }

            // for(var i=0; i<json.page.size; i++) {
              // console.log(json._embedded.events[i].name);
              addMarker(map, json._embedded.events[0]);
            // }
          }
        })


      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyDi6cKExZW5kQyituJg-_Wc0vcyXv3E4&callback=initMap">
      </script>

  </div>

</div>
</div>
</body>

</html>
